

#background {
   position: fixed;
   top: 50%;
   left: 50%;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -100;
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
   background: url(polina.jpg) no-repeat;
   background-size: cover;
}


.media {
  background-color: black;
  color: white;
}

/*

#logo {
}

#search {

}

#profile {
  position: relative;
  left: 400px;
}

#results {
  position: relative;
  top: 110px;
}



#player {
  position: relative;
  top: 200px;
}

#comments {
  position: relative;
  top: 200px;
}
